* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
}

/*--------------ID Selectors--------------*/
#bed {
  margin-bottom: 5vh;
}

#button_section {
  width: 100%;
  display: inline-block;
}

#morn {
  margin-top: 4vh;
}

/*--------------Class Selectors--------------*/
.active {
  background-color: blue;
  color: white;
}

.nav_item {
  border-radius: 1em;
  display: inline-block;
  margin: 1vh 2vw;
  padding: 1em 2em;
}

.pills_stock_image {
  width: 6.5em;
  height: auto;
}

.sub_timeslot {
  border: solid;
  height: 100%;
  width: auto;
}

.sub_timeslot.pill_section {
  display: flex;
  justify-items: center;
  align-items: center;
}

.timeslot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  margin: 0 5vw;
}

/*--------------Element Selectors--------------*/
ul {
  text-align: center;
}

label {
  font-size: 80%;
  top: 0;
}

textarea {
  width: 90%;
  height: 80%;
  resize: none;
  font-size: 75%;
  margin-left: .25em;
}

/*----------------------------*/